sudo: false
language: python
python:
- '3.6'
cache: pip
install:
- pip install coverage
- pip install codecov
script:
- python -m unittest discover
- coverage run -m unittest discover
- coverage report --omit=*test*
after_success:
- codecov
